.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.logo{
    color: #D2872C;
    font-size: 2rem;
    font-weight: 700;
}

/* mobile menu */

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    background-color: #766F68;
    height: 3px;
    margin: 2px;
    width: 20px;
    transition: 0.3s;
}

/* fim mobile-menu */

.nav-list li{
    font-size: 1.5rem;
    color: #000000;
    margin-left: 1rem;
    font-weight: 700;
}

.nav-list a{
    text-decoration: none;
}

/*-------------------- Responsividade --------------------*/


@media (max-width: 768px){
    .mobile-menu{
        display: block;
    }

    .nav-list{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #D2872C;
        text-align: start;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-radius: 10px;
    }

    .nav-list li{
        opacity: 0;
        margin-left: 0;
        margin: 1rem 0 1rem 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #766F68;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
        
    }
}

